<% provide(:title, "パスワードをリセット") %>
<h1>アカウントを探す</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: password_resets_path, scope: :password_reset,
                    local: true) do |f| %>
      <%= f.label :メールアドレスを入力してください %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>