<h1>ユーザー検索</h1>
<%= form_with  method: :get, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit :検索 %>
<% end %>
<table>
  <thead>
    <tr>
      <th>ユーザー</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>