<span><% if current_user.profile_image.attached? %>
      <%= image_tag current_user.display_profile_image %>
    <% else %>
      <%= image_tag "default.jpg" %>
    <% end %>
</span>
<span><%= link_to "プロフィール編集", profile_edit_user_path(current_user) %></span>
