@import "bootstrap-sprockets";
@import "bootstrap";


header {
  float: left;
  width :200px;
  margin-left: 300px;
  border-right: solid;
  border-width: 1px;
  height: 1000px;
  width: 300px;
  li {
    list-style: none;
    font-size: 20px;
    padding: 20px;
    width: 250px;
  }
}

div {
  
  &.main {
    width: 1100px;
    margin: 0px;
    padding: 0 0 0 600px;
    
    
    h1 {
    font-size: 30px;
    border-bottom: solid;
    border-width: 1px;
    padding: 0px 0px 10px 10px;
    
    
    
    }
    
    
  }
  
  
  
  &.signup_label {
    font-size: 20px;
    padding: 30px;
  }
  
  &.login_label {
    font-size: 20px;
    padding: 30px;
    
    p {
      font-size: 15px;
    }
  }
}
footer  {
  padding-left: 1200px;
  
}



.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing(border-box);
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: orange;
    margin: 0 0 30px 0;
  }
}

/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

