<header class="header">
      <ul>
        <div class="Title">Comics</div>
        <div class="user">
          <% if logged_in? %>
          <% if current_user.profile_image.attached? %>
            <%= image_tag current_user.display_profile_image, class:"profile-image"%>
          <% else %>
            <%= image_tag "default.jpg", class:"profile-image" %>
          <% end %>
          <div class="name">
            <li><%= current_user.name %></li>
          </div>
        <% else %>
        <% end %>
        </div>
      </ul>
</header>